Package: com.appknox.open
Version: 1.2.1
Architecture: iphoneos-arm
Maintainer: Appknox <engineering@appknox.com>
Author: Appknox <engineering@appknox.com>
Section: System
Description: launch apps from the command-line
Name: Open from Appknox
Tag: purpose::console, role::hacker
