Package: com.appknox.open
Version: 1.2.0
Architecture: iphoneos-arm
Maintainer: Appknox <engineering@appknox.com>
Author: Appknox <engineering@appknox.com>
Section: System
Description: launch apps from the command-line
Name: Open from Appknox
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=openData
Website: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=openData
Tag: purpose::console, role::hacker
